<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create movie with js</title>
</head>
<body>

    <form action="#" enctype='application/x-www-form-urlencoded' id="personform" method="post">
        <label for="title">Titel</label><br />
        <input type="text" id="title" name="title" name="title"/><br /><br />

        <label for="time">Tidspunkt</label><br />
        <input type="number"  id="time" name="time" name="time" /><br /><br />

        <label for="length">Længde</label><br />
        <input type="number"  id="length" name="length" name="length"/><br /><br />

        <label for="hall">Sal</label><br />
        <input type="text"  id="hall" name="hall" name="hall"/><br /><br />

        <label for="date">Dato</label><br />
        <input type="text"  id="date" name="date" name="date" /><br /><br />

        <label for="age">Aldersgrænse</label><br />
        <input type="number" id="age" name="age" name="age" /><br /><br />

        <label for="actor">Skuespiller</label><br />
        <input type="text" id="actor" name="actor" name="actor" /><br /><br />

        <input type="submit" value="Opret film" />
      </form>

      <script src="../js/formpostperson.js"></script>
    
</body>
</html>