<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>

    <ul
    class="topnav"
  >
  <a href="#">  <img
    th:src="@{img/KinoXPLogo.png}"
    class="logo"
    src="/src/main/resources/static/img/KinoXPLogo.png"
    style="
      display: block;
      margin: 0 auto;
      width: 150px;
    "
    alt="logo"
  /></a>
    <li style="margin-top: 3%;">
      <a
        class="active"
        href="#"
        style="color: white; text-decoration: none; font-size: 20px; font-weight: normal;"
        >Program</a
      >
    </li>
    <li style="margin-top: 3%;">
      <a
        href="/upcoming"
        style="color: white; text-decoration: none; font-size: 20px; font-weight: normal; padding-left: 20px; padding-right: 20px;"
        >Kommende film</a
      >
    </li>
    <li style="margin-top: 3%;">
      <a
        href="#"
        style="color: white; text-decoration: none; font-size: 20px; font-weight: normal"
        >Web shop</a
      >
    </li>

    <li >
        <div
          href="#"
          style="text-decoration: none; font-size: 20px; font-weight: normal; color: red; background-color: azure !important; padding:60px; margin-left: 993px;"
          ><a href="#" style="color: red;">Login</a> | <a href="#" style="color: red;">tilmeld</a></div>
        
      </li>
  </ul>
  <br />


                <div style="display: flex; flex-direction: row; justify-content: space-around;">
                    <h3>
                        Titel</a>
                     </h3>
                     <h3>
                         Alderskrav</a>
                     </h3>
                     <h3>
                         Længde</a>
                     </h3>
                     <h3>
                         Skuespiller</a>
                     </h3>
                </div>
    <table id="demoA" class="table table-bordered">
    </table>

    

    <!-- <select id="genreid" name="genreid">

    </select> <br /><br /> -->

   <!-- <section id="intro" class="">
  <table border="1" class="table table-striped table-responsive-md">
      <thead>
          <tr>
              <th>
                 Titel</a>
              </th>
              <th>
                  Alderskrav</a>
              </th>
              <th>
                  Længde</a>
              </th>
              <th>
                  Skuespiller</a>
              </th>
          </tr>
      </thead>
      <tbody>
          <tr>
            <td>Spider man</td>
            <td>16</td>
            <td >2</td>
            <td>Dicaprio</td>
              
              <td>
                  <a th:href="@{/movieFormUpdate/{movieid}(movieid=${movie.movieid})}" class="btn btn-primary">Update</a>
                  <a th:href="@{/deleteUser/{id}(id=${user.id})}" class="btn btn-danger">Delete</a>
              </td>
          </tr>
      </tbody>
  </table>
  </div>
  </div>
</section> -->

    <script src="../js/fetch-movies.js"></script>
    
</body>
</html>